<body>
  <div class="container">
    <div class="left">
    </div>
    <div class="right">
      <h1>Airline Management System</h1>
      <button routerLink="/customer-registration" class="landing-page-btn">
        Customer Registration
      </button>
      <button routerLink="/customer-login" class="landing-page-btn">
        Customer Login
      </button>
      <button
        routerLink="/admin-login"
        class="landing-page-btn admin-login-btn"
      >
        Admin Login
      </button>
    </div>
  </div>
</body>
